@media screen and (max-width: 640px) {
    .box {
    display: block ;
    }
    .img{
        display: none;
    }

    .deux{
        display:flex;
        flex-direction: column;

    }
    header{
        display: block;
        height: min-content;
        background-image: none;
        text-align: center;
    }

}