@media screen and (max-width: 640px) {
    .box {
    display: block ;
    }
    .img{
        display: none;
    }

    .deux{
        display:flex;
        flex-direction: column;

    }
    header{
        height: min-content;
        background-repeat: no-repeat;
    }

}